PORT=3000

# Freshservice Configuration
FRESHSERVICE_DOMAIN=voetur1.freshservice.com
FRESHSERVICE_API_KEY=mOIDpHLZY1EITgT0Rfnh
FRESHSERVICE_WORKSPACE_ID=18
FRESHSERVICE_DEFAULT_GROUP_ID=21000569060
FRESHSERVICE_DEFAULT_DEPARTMENT_ID=21000431906
FRESHSERVICE_DEFAULT_PRIORITY=2
FRESHSERVICE_DEFAULT_SOURCE=4
FRESHSERVICE_DEFAULT_CATEGORY=SUPORTE TÉCNICO
FRESHSERVICE_DEFAULT_SUBCATEGORY=Outros Atendimentos

# WhatsApp Configuration (QR Code Method)
# No tokens needed from Meta Cloud API for this method.
# Session will be saved locally in .wwebjs_auth folder.
